In [1]:
# initial run through of project

In [2]:
# import necessary libraries

import pandas as pd

In [3]:
# scraping data 

titles = ['practice-1', 'practice-2', 'practice-3', 'qualifying', 'race-result']
url = 'https://www.formula1.com/en/results.html/2020/races/1058/turkey/{}.html'

for title in titles:
    urls = url.format(title)
    print(urls)

https://www.formula1.com/en/results.html/2020/races/1058/turkey/practice-1.html
https://www.formula1.com/en/results.html/2020/races/1058/turkey/practice-2.html
https://www.formula1.com/en/results.html/2020/races/1058/turkey/practice-3.html
https://www.formula1.com/en/results.html/2020/races/1058/turkey/qualifying.html
https://www.formula1.com/en/results.html/2020/races/1058/turkey/race-result.html

In [4]:
FourteenP1_2020 ='https://www.formula1.com/en/results.html/2020/races/1058/turkey/practice-1.html'
FourteenP2_2020 ='https://www.formula1.com/en/results.html/2020/races/1058/turkey/practice-2.html'
FourteenP3_2020 ='https://www.formula1.com/en/results.html/2020/races/1058/turkey/practice-3.html'
FourteenQ_2020 ='https://www.formula1.com/en/results.html/2020/races/1058/turkey/qualifying.html'
FourteenRR_2020 ='https://www.formula1.com/en/results.html/2020/races/1058/turkey/race-result.html'

In [5]:
df_FourteenP1_2020 = pd.read_html(FourteenP1_2020, header=0)
df_FourteenP2_2020 = pd.read_html(FourteenP2_2020, header=0)
df_FourteenP3_2020 = pd.read_html(FourteenP3_2020, header=0)
df_FourteenQ_2020 = pd.read_html(FourteenQ_2020, header=0)
df_FourteenRR_2020 = pd.read_html(FourteenRR_2020, header=0)

df_FourteenP1_2020 = df_FourteenP1_2020[0]
df_FourteenP2_2020 = df_FourteenP2_2020[0]
df_FourteenP3_2020 = df_FourteenP3_2020[0]
df_FourteenQ_2020 = df_FourteenQ_2020[0]
df_FourteenRR_2020 = df_FourteenRR_2020[0]

In [6]:
df_FourteenP1_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)
df_FourteenP2_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)
df_FourteenP3_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)
df_FourteenQ_2020.drop(['Unnamed: 0', 'Unnamed: 9', 'No'], axis=1, inplace=True)
df_FourteenRR_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)

In [7]:
# df_FourteenP1_2020 = df_FourteenP1_2020.fillna(0)
# df_FourteenP2_2020 = df_FourteenP2_2020.fillna(0)
# df_FourteenP3_2020 = df_FourteenP3_2020.fillna(0)

In [8]:
turkey_GP = [df_FourteenP1_2020, df_FourteenP2_2020, df_FourteenP3_2020, df_FourteenQ_2020, df_FourteenRR_2020]

In [9]:
turkey_GP_0 = turkey_GP[0]
turkey_GP_1 = turkey_GP[1]
turkey_GP_2 = turkey_GP[2]
turkey_GP_3 = turkey_GP[3]
turkey_GP_4 = turkey_GP[4]

In [10]:
turkey_allP = pd.concat([turkey_GP_0, turkey_GP_1, turkey_GP_2])
turkey_allP = turkey_allP.groupby('Driver').Pos.sum()
turkey_allP = pd.DataFrame(turkey_allP)
turkey_allP.rename(columns = {'Pos': 'Pos_Practice'}, inplace = True)

In [11]:
turkeyQ = turkey_GP_3.groupby('Driver').Pos.sum()
turkeyQ = pd.DataFrame(turkeyQ)
turkeyQ.rename(columns = {'Pos': 'Pos_Qualifying'}, inplace = True)

In [12]:
turkeyR = turkey_GP_4.groupby('Driver').Pos.sum()
turkeyR = pd.DataFrame(turkeyR)
turkeyR.rename(columns = {'Pos': 'Pos_Race'}, inplace = True)

In [13]:
turkey_end = pd.concat([turkey_allP, turkeyQ, turkeyR], axis=1)

In [14]:
turkey_GP_0.sort_values(by=['Driver'], inplace=True)
turkey_GP_1.sort_values(by=['Driver'], inplace=True)
turkey_GP_2.sort_values(by=['Driver'], inplace=True)
turkey_GP_3.sort_values(by=['Driver'], inplace=True)
turkey_GP_4.sort_values(by=['Driver'], inplace=True)

In [15]:
turkey_dl = pd.merge(turkey_GP_0, turkey_GP_1, on='Driver', how='outer')
turkey_dl = pd.merge(turkey_dl, turkey_GP_2, on='Driver', how='outer')
turkey_dl = pd.merge(turkey_dl, turkey_GP_3, on='Driver', how='outer')
turkey_dl = pd.merge(turkey_dl, turkey_GP_4, on='Driver', how='outer')

In [16]:
change_dups = turkey_dl.columns.values.tolist()
change_dups

['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x',
 'Car_x',
 'Time',
 'Gap',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS']

In [17]:
def uniquify(change_dups):
    seen = set()
    
    for dup in change_dups:
        name = 1
        new_name = dup
        
        while new_name in seen:
            name += 1
            new_name = "{}_{}".format(dup, name)
            
        yield new_name
        seen.add(new_name)
        
list(uniquify(change_dups))

['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x_2',
 'Car_x_2',
 'Time',
 'Gap',
 'Laps_x_2',
 'Pos_y_2',
 'Car_y_2',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y_2',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS']

In [18]:
turkey_dl = turkey_dl.set_axis(['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x_2',
 'Car_x_2',
 'Time',
 'Gap',
 'Laps_x_2',
 'Pos_y_2',
 'Car_y_2',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y_2',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS'], axis=1, inplace=False)

In [19]:
change_dups

['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x',
 'Car_x',
 'Time',
 'Gap',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS']

In [20]:
new_names = ['Pos1',
 'Driver1',
 'Car1',
 'Time1',
 'Gap1',
 'Laps1',
 'Pos2',
 'Car2',
 'Time2',
 'Gap2',
 'Laps2',
 'Pos3',
 'Car3',
 'Time3',
 'Gap3',
 'Laps3',
 'PosQ',
 'CarQ',
 'Q1_Q',
 'Q2_Q',
 'Q3_Q',
 'LapsQ',
 'PosRR',
 'CarRR',
 'LapsRR',
 'Time/Retired_RR',
 'PTS_RR']

In [21]:
turkey_dl.columns = ['Pos1',
 'Driver1',
 'Car1',
 'Time1',
 'Gap1',
 'Laps1',
 'Pos2',
 'Car2',
 'Time2',
 'Gap2',
 'Laps2',
 'Pos3',
 'Car3',
 'Time3',
 'Gap3',
 'Laps3',
 'PosQ',
 'CarQ',
 'Q1_Q',
 'Q2_Q',
 'Q3_Q',
 'LapsQ',
 'PosRR',
 'CarRR',
 'LapsRR',
 'Time/Retired_RR',
 'PTS_RR']

In [22]:
turkey_dl.drop(['Car2', 'Car3', 'CarQ', 'CarRR'], axis=1, inplace=True)

In [23]:
# turkey_dl = turkey_dl.fillna('n/a')

In [24]:
names_list = list(turkey_dl.columns)

new_names_list = []

for names in names_list:
    names = 'turkey_' + names
    new_names_list.append(names)
    
turkey_dl.columns = new_names_list

In [25]:
turkey_dl = turkey_dl[~turkey_dl['turkey_Time/Retired_RR'].isin(['DNF'])]

In [26]:
pd.options.mode.chained_assignment = None  # default='warn'
turkey_dl.drop(turkey_dl.columns[[4, 5, 8, 9, 12, 13, 18, 20, 21]], axis=1, inplace=True)

In [27]:
turkey_dl.drop(['turkey_Time1', 'turkey_Time2', 'turkey_Time3'], axis=1, inplace=True)

In [28]:
def qualifying_values(race):
    race.iloc[:, 6] = race.iloc[:, 6].apply(lambda x: 1 if not pd.isnull(x) else 0)
    race.iloc[:, 7] = race.iloc[:, 7].apply(lambda x: 1 if not pd.isnull(x) else 0)
    race.iloc[:, 8] = race.iloc[:, 8].apply(lambda x: 1 if not pd.isnull(x) else 0)

In [29]:
qualifying_values(turkey_dl)

In [30]:
turkey_dl

,turkey_Pos1,turkey_Driver1,turkey_Car1,turkey_Pos2,turkey_Pos3,turkey_PosQ,turkey_Q1_Q,turkey_Q2_Q,turkey_Q3_Q,turkey_PosRR,turkey_PTS_RR
0,2,Alexander Albon ALB,Red Bull Racing Honda,5,3,4,1,1,1,7,6
2,19,Carlos Sainz SAI,McLaren Renault,14,12,13,1,1,0,5,10
3,3,Charles Leclerc LEC,Ferrari,2,2,14,1,1,0,4,12
4,18,Daniel Ricciardo RIC,Renault,15,11,5,1,1,1,10,1
5,6,Daniil Kvyat KVY,AlphaTauri Honda,6,17,17,1,0,0,12,0
6,10,Esteban Ocon OCO,Renault,12,4,7,1,1,1,11,0
7,20,George Russell RUS,Williams Mercedes,17,18,18,1,0,0,16,0
9,16,Kimi Räikkönen RAI,Alfa Romeo Racing Ferrari,16,16,8,1,1,1,15,0
10,13,Lance Stroll STR,Racing Point BWT Mercedes,9,10,1,1,1,1,9,2
11,7,Lando Norris NOR,McLaren Renault,10,5,11,1,1,0,8,5
12,15,Lewis Hamilton HAM,Mercedes,4,20,6,1,1,1,1,25
13,1,Max Verstappen VER,Red Bull Racing Honda,1,1,2,1,1,1,6,8
15,4,Pierre Gasly GAS,AlphaTauri Honda,7,14,15,1,1,0,13,0
17,5,Sebastian Vettel VET,Ferrari,8,6,12,1,1,0,3,15
18,12,Sergio Perez PER,Racing Point BWT Mercedes,11,7,3,1,1,1,2,18
19,9,Valtteri Bottas BOT,Mercedes,3,8,9,1,1,1,14,0

In [31]:
%store turkey_dl

Stored 'turkey_dl' (DataFrame)