In [1]:
# initial run through of project

In [2]:
# import necessary libraries

import pandas as pd
import numpy as np

In [3]:
# scraping data 

titles = ['practice-1', 'practice-2', 'practice-3', 'qualfying', 'race-result']
url = 'https://www.formula1.com/en/results.html/2020/races/1045/austria/{}.html'

for title in titles:
    urls = url.format(title)
    print(urls)

https://www.formula1.com/en/results.html/2020/races/1045/austria/practice-1.html
https://www.formula1.com/en/results.html/2020/races/1045/austria/practice-2.html
https://www.formula1.com/en/results.html/2020/races/1045/austria/practice-3.html
https://www.formula1.com/en/results.html/2020/races/1045/austria/qualfying.html
https://www.formula1.com/en/results.html/2020/races/1045/austria/race-result.html

In [4]:
OneP1_2020 = 'https://www.formula1.com/en/results.html/2020/races/1045/austria/practice-1.html'
OneP2_2020 = 'https://www.formula1.com/en/results.html/2020/races/1045/austria/practice-2.html'
OneP3_2020 = 'https://www.formula1.com/en/results.html/2020/races/1045/austria/practice-3.html'
OneQ_2020 = 'https://www.formula1.com/en/results.html/2020/races/1045/austria/qualifying.html'
OneRR_2020 = 'https://www.formula1.com/en/results.html/2020/races/1045/austria/race-result.html'

In [5]:
df_OneP1_2020 = pd.read_html(OneP1_2020, header=0)
df_OneP2_2020 = pd.read_html(OneP2_2020, header=0)
df_OneP3_2020 = pd.read_html(OneP3_2020, header=0)
df_OneQ_2020 = pd.read_html(OneQ_2020, header=0)
df_OneRR_2020 = pd.read_html(OneRR_2020, header=0)

df_OneP1_2020 = df_OneP1_2020[0]
df_OneP2_2020 = df_OneP2_2020[0]
df_OneP3_2020 = df_OneP3_2020[0]
df_OneQ_2020 = df_OneQ_2020[0]
df_OneRR_2020 = df_OneRR_2020[0]

In [6]:
df_OneP1_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)
df_OneP2_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)
df_OneP3_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)
df_OneQ_2020.drop(['Unnamed: 0', 'Unnamed: 9', 'No'], axis=1, inplace=True)
df_OneRR_2020.drop(['Unnamed: 0', 'Unnamed: 8', 'No'], axis=1, inplace=True)

In [7]:
# df_OneP1_2020 = df_OneP1_2020.fillna(0)
# df_OneP2_2020 = df_OneP2_2020.fillna(0)
# df_OneP3_2020 = df_OneP3_2020.fillna(0)

In [8]:
austria_GP = [df_OneP1_2020, df_OneP2_2020, df_OneP3_2020, df_OneQ_2020, df_OneRR_2020]

In [9]:
austria_GP_0 = austria_GP[0]
austria_GP_1 = austria_GP[1]
austria_GP_2 = austria_GP[2]
austria_GP_3 = austria_GP[3]
austria_GP_4 = austria_GP[4]

In [10]:
austria_allP = pd.concat([austria_GP_0, austria_GP_1, austria_GP_2])
austria_allP = austria_allP.groupby('Driver').Pos.sum()
austria_allP = pd.DataFrame(austria_allP)
austria_allP.rename(columns = {'Pos': 'Pos_Practice'}, inplace = True)

In [11]:
austriaQ = austria_GP_3.groupby('Driver').Pos.sum()
austriaQ = pd.DataFrame(austriaQ)
austriaQ.rename(columns = {'Pos': 'Pos_Qualifying'}, inplace = True)

In [12]:
austriaR = austria_GP_4.groupby('Driver').Pos.sum()
austriaR = pd.DataFrame(austriaR)
austriaR.rename(columns = {'Pos': 'Pos_Race'}, inplace = True)

In [13]:
austria_end = pd.concat([austria_allP, austriaQ, austriaR], axis=1)

In [14]:
austria_GP_0.sort_values(by=['Driver'], inplace=True)
austria_GP_1.sort_values(by=['Driver'], inplace=True)
austria_GP_2.sort_values(by=['Driver'], inplace=True)
austria_GP_3.sort_values(by=['Driver'], inplace=True)
austria_GP_4.sort_values(by=['Driver'], inplace=True)

In [15]:
# austria_dl = pd.concat([austria_GP_0, austria_GP_1, austria_GP_2, austria_GP_3, austria_GP_4], ignore_index=True)
austria_dl = pd.merge(austria_GP_0, austria_GP_1, on='Driver', how='outer')
austria_dl = pd.merge(austria_dl, austria_GP_2, on='Driver', how='outer')
austria_dl = pd.merge(austria_dl, austria_GP_3, on='Driver', how='outer')
austria_dl = pd.merge(austria_dl, austria_GP_4, on='Driver', how='outer')

In [16]:
change_dups = austria_dl.columns.values.tolist()
change_dups

['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x',
 'Car_x',
 'Time',
 'Gap',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS']

In [17]:
def uniquify(change_dups):
    seen = set()
    
    for dup in change_dups:
        name = 1
        new_name = dup
        
        while new_name in seen:
            name += 1
            new_name = "{}_{}".format(dup, name)
            
        yield new_name
        seen.add(new_name)
        
list(uniquify(change_dups))

['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x_2',
 'Car_x_2',
 'Time',
 'Gap',
 'Laps_x_2',
 'Pos_y_2',
 'Car_y_2',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y_2',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS']

In [18]:
austria_dl = austria_dl.set_axis(['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x_2',
 'Car_x_2',
 'Time',
 'Gap',
 'Laps_x_2',
 'Pos_y_2',
 'Car_y_2',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y_2',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS'], axis=1, inplace=False)

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
change_dups

['Pos_x',
 'Driver',
 'Car_x',
 'Time_x',
 'Gap_x',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Time_y',
 'Gap_y',
 'Laps_y',
 'Pos_x',
 'Car_x',
 'Time',
 'Gap',
 'Laps_x',
 'Pos_y',
 'Car_y',
 'Q1',
 'Q2',
 'Q3',
 'Laps_y',
 'Pos',
 'Car',
 'Laps',
 'Time/Retired',
 'PTS']

In [21]:
new_names = ['Pos1',
 'Driver1',
 'Car1',
 'Time1',
 'Gap1',
 'Laps1',
 'Pos2',
 'Car2',
 'Time2',
 'Gap2',
 'Laps2',
 'Pos3',
 'Car3',
 'Time3',
 'Gap3',
 'Laps3',
 'PosQ',
 'CarQ',
 'Q1_Q',
 'Q2_Q',
 'Q3_Q',
 'LapsQ',
 'PosRR',
 'CarRR',
 'LapsRR',
 'Time/Retired_RR',
 'PTS_RR']

In [22]:
austria_dl.columns = ['Pos1',
 'Driver1',
 'Car1',
 'Time1',
 'Gap1',
 'Laps1',
 'Pos2',
 'Car2',
 'Time2',
 'Gap2',
 'Laps2',
 'Pos3',
 'Car3',
 'Time3',
 'Gap3',
 'Laps3',
 'PosQ',
 'CarQ',
 'Q1_Q',
 'Q2_Q',
 'Q3_Q',
 'LapsQ',
 'PosRR',
 'CarRR',
 'LapsRR',
 'Time/Retired_RR',
 'PTS_RR']

In [23]:
austria_dl.drop(['Car2', 'Car3', 'CarQ', 'CarRR'], axis=1, inplace=True)

In [24]:
# austria_dl = austria_dl.fillna('n/a')

In [25]:
names_list = list(austria_dl.columns)

new_names_list = []

for names in names_list:
    names = 'austria_' + names
    new_names_list.append(names)
    
austria_dl.columns = new_names_list

In [26]:
austria_dl = austria_dl[~austria_dl['austria_Time/Retired_RR'].isin(['DNF'])]

In [27]:
pd.options.mode.chained_assignment = None  # default='warn'
austria_dl.drop(austria_dl.columns[[4, 5, 8, 9, 12, 13, 18, 20, 21]], axis=1, inplace=True)

In [28]:
# austria_dl.iloc[:, 9] = austria_dl.iloc[:, 9].apply(lambda x: 1 if not pd.isnull(x) else 0)
# austria_dl.iloc[:, 10] = austria_dl.iloc[:, 10].apply(lambda x: 1 if not pd.isnull(x) else 0)
# austria_dl.iloc[:, 11] = austria_dl.iloc[:, 11].apply(lambda x: 1 if not pd.isnull(x) else 0)

In [29]:
def qualifying_values(race):
    race.iloc[:, 9] = race.iloc[:, 9].apply(lambda x: 1 if not pd.isnull(x) else 0)
    race.iloc[:, 10] = race.iloc[:, 10].apply(lambda x: 1 if not pd.isnull(x) else 0)
    race.iloc[:, 11] = race.iloc[:, 11].apply(lambda x: 1 if not pd.isnull(x) else 0)

In [30]:
qualifying_values(austria_dl)

In [31]:
austria_dl.drop(['austria_Time1', 'austria_Time2', 'austria_Time3'], axis=1, inplace=True)

In [32]:
austria_dl

,austria_Pos1,austria_Driver1,austria_Car1,austria_Pos2,austria_Pos3,austria_PosQ,austria_Q1_Q,austria_Q2_Q,austria_Q3_Q,austria_PosRR,austria_PTS_RR
1,14,Antonio Giovinazzi GIO,Alfa Romeo Racing Ferrari,14,18,18,1,0,0,9,2
2,4,Carlos Sainz SAI,McLaren Renault,10,13,8,1,1,1,5,10
3,10,Charles Leclerc LEC,Ferrari,9,5,7,1,1,1,2,18
6,13,Esteban Ocon OCO,Renault,11,11,14,1,1,0,8,4
11,6,Lando Norris NOR,McLaren Renault,6,10,4,1,1,1,3,16
12,1,Lewis Hamilton HAM,Mercedes,1,1,2,1,1,1,4,12
14,18,Nicholas Latifi LAT,Williams Mercedes,20,20,20,1,0,0,11,0
15,16,Pierre Gasly GAS,AlphaTauri Honda,17,9,12,1,1,0,7,6
17,12,Sebastian Vettel VET,Ferrari,4,7,11,1,1,0,10,1
18,5,Sergio Perez PER,Racing Point BWT Mercedes,3,4,6,1,1,1,6,8
19,2,Valtteri Bottas BOT,Mercedes,2,2,1,1,1,1,1,25

In [33]:
%store austria_dl

Stored 'austria_dl' (DataFrame)